*{
    font-family: "Lato", sans-serif;
}

.blog-card {
    border: none;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    height: 100%;
  }
  
  .blog-card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0056b3;
    margin-bottom: 1rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .text-center {
    display: flex;
    justify-content: center;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .blog-card {
      margin-bottom: 20px;
    }
  }


  